@model Caserne.Domaine.Entities.Avion

@{
    ViewBag.Title = "Avion Create";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Avion</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Constructeur)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Constructeur)
            @Html.ValidationMessageFor(model => model.Constructeur)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Modele)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modele)
            @Html.ValidationMessageFor(model => model.Modele)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
