@model IEnumerable<Caserne.Domaine.Entities.Avion>

@{
    ViewBag.Title = "Avion Index";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>


<h3>Nombre total des avions: @ViewBag.NbrAvions </h3>

<h3>Avions Boing: </h3>

@foreach (var item in ViewBag.QueryAvions)
{
    <div>@item.Modele : @item.Constructeur</div> 
}

<hr/>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Constructeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modele)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Constructeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modele)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
