@model Caserne.Domaine.Entities.Pilote

@{
    ViewBag.Title = "CreatePilote";
}

<h2>CreatePilote</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Pilote</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NbHeuresDeVol)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NbHeuresDeVol)
            @Html.ValidationMessageFor(model => model.NbHeuresDeVol)
        </div>
        
        <div class="editor-label">
            @Html.Label("Avion")
        </div>
        <div class="editor-field"> 
            @Html.DropDownList("AvionId", (SelectList) ViewData["Avions"]) 
            @Html.ValidationMessageFor(model => model.AvionId) 
        </div>


       

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
